body{
  padding: 0px;
  margin: 0px;  
  font-family: sans-serif;

 }   


.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  /* contact form css */


  #contact-section{
    background-image: url(https://www.five9.com/media_library/2017/02/form-background.jpg);
    
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100% ;
    padding-bottom: 2%;
    
  }
  #contact-section .container h2{
    text-align: center;
     text-decoration: underline;
      /* text-decoration-color:red; */
      text-underline-position: under;
      color: rgb(238, 235, 235);
      letter-spacing: 2px;
      
      
  }
  #contact-section .container p{
    text-align: center; 
    width: 70%; 
    margin-left: auto;
     margin-right: auto; 
     padding-bottom: 3%;
     color: #fff;
     letter-spacing:3px;
  }
  .contact-form i.fa{
    /* color: red; */
    /* color: #fff; */
    font-size: 22px; 
    padding: 3%;
    background-color: none;
    border-radius: 80%;
    margin: 2%;
    /* border: 2px solid #fff; */
    cursor: pointer;
    border:2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
    
  }
  
