*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
  
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 55px;
    font-weight: bolder;
    color: rgba(71, 68, 206, 0.849);
    text-align: center;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
.container{
    max-width: 1400px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.faqimage{
    width: calc(50% - 20px);
}
.faq-menu{
    width: calc(50% - 20px);
}
.title{
    /* background-color: #9896f8e5; */
    background-color: #f05583e8;
    display: flex;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.4), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.icon{
    position: relative;
    width: 14px;
}
.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 3px;
    background-color: #fff;
    top: -1.5px;
}
.icon::after{
    transform: rotate(90deg);
    transition: .5s linear;
}
  
.text{
    background-color: rgba(0, 0, 0, 0.884);
    color:#fff;
    line-height: 26px;
    margin: 6px 0;
    opacity: 0;
    height: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
  
.item:target .text{
    height: auto;
    opacity: 1;
    padding: 20px;
    margin: 12px 0;
}
  
.item:target .icon::after{
    transform: rotate(0);
}

/* -------------breakpoint--------------- */
@media screen and (max-width:960px){
    .container{
      max-width: 600px;
    }
    .faqimage, .faq-menu{
      width: 96%;
      margin: 20px 0;
    }
    h1{
        font-size: 40px;
    }
}