

* {
    box-sizing: border-box;
}
  
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    background-color:rgb(37, 173, 214);
    width: 30%;
    padding: 20px;
    height: 145vh; 
}
.column1{
    float: left;
    background-color:white;
    width: 70%;
    padding: 20px;
    height: 130vh; 
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
img{
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 80%;
}
#donation{
    text-align: center;
    font-family: Brush Script MT;
    font-size: 50px;
}
#make{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}
input,select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
 }
 
label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

input[type=submit] {
    background-color: #077c0b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 30px ;
}
  
input[type=submit]:hover {
    background-color:rgb(122, 202, 122);
    border: 4px solid #077c0b;
    color: black;
}
.container {
    border-radius: 5px;
    background-color: #cac9c9;
    padding: 25px;
    padding-bottom: 0;
}
  
.col-25 {
    float: left;
    width: 20%;
    margin-top: 3px;
}
   
.col-75 {
    float: left;
    width: 60%;
    margin-top: 3px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*first breakpoint*/

@media screen and (max-width: 909px){
    .column {
        float: left;
      
        width: 35%;
        padding: 20px;
        height: 185vh; 
    }
    .column1{
        float: left;
      
        width: 65%;
        padding: 20px;
        height: 140vh; 
    }
    #donation{
        
        font-size: 35px;
    }
    #make{
      
        font-size: 20px;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin: 30px ;
    }

}

/*second breakpoint*/

@media screen and (max-width: 361px) {
    .column {
        float: left;
      
        width: 100%;
        padding: 20px;
        height: 250px; 
    }
    .column1{
        float: left;
      
        width: 100%;
        padding: 20px;
        height: 100vh; 
    }
    img{
     
      margin-top: 0px;
      width: 40%;
      margin-left: 110px;
    }
    #donation{
        text-align: center;
       
        font-family: Brush Script MT;
        font-size: 30px;
    }
    #make{
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-size: 15px;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin: 30px ;
    }
}